section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    min-height: 600px;
}

#banner {
    position: relative;
    min-height: 640px;
    max-height: 900px;
    width: 100vw;
    height: auto;
    inset: 0px;
    object-fit: cover;
}

.banner-sub {
    margin: 0px;
    font-weight: 500;
    font-size: 2.5vw;
    color: var(--detail-color);
    -webkit-text-stroke: 1px white;
}

#main-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    justify-content: center;
}

#name {
    letter-spacing: -2px;
    font-size: 5vw;
    margin-bottom: 0px;
    font-weight: 900;
    line-height: 1;
    color: var(--text-color-2);
    -webkit-text-stroke: 1px var(--detail-color);
}