.card {
    background-color: var(--background-color-2);
    padding: 2% 7%;
    display: flex;
    justify-content: space-between;
}

.card > img {
    width: 40%;
}

.personal {
    background-color: var(--background-color); 
    flex-direction: row-reverse;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items:start;
    margin: 2%;
    text-align: start;
}

.flex-container > button {
    margin-top: auto;
}

.main-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
}