.card {
    background-color: var(--background-color-2);
    padding: 2% 7%;
    display: flex;
    justify-content: space-between;
}

.card > img {
    width: 30%;
    object-fit: cover;
}

.personal {
    background-color: var(--background-color); 
    flex-direction: row-reverse;
    justify-content: space-between;
}

.about-card {
    padding-bottom: 0px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    text-align: start;
    margin: 0px 2% 0px 0px;
}

.flex-container > button {
    margin-top: 1%;
}

.main-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
}