#footer-top {
    position: relative;
    padding: 0%;
    display: flex;
    flex-direction: column;
}

#social-bar {
    background-color: var(--detail-color);
    padding: 2px;
    width: 100vw;
}

#footer-bottom {
    padding: 40px 32px;
    width: 100vw;
    background-color: var(--background-color-3);
    color: white;
}

.icon {
    font-size: 36px;
    padding: 2px 15px;
}