#footer-top {
    position: relative;
    padding: 0%;
    display: flex;
    flex-direction: column;
}

#social-bar {
    background-color: var(--detail-color);
    padding: 15px 32px;
    width: 100vw;
}

#footer-bottom {
    padding: 40px 32px;
    width: 100vw;
    background-color: var(--background-color);
}