.footer-top {
    position: absolute;
    bottom: 0;
    padding: 0%;
    display: flex;
    flex-direction: column;
    height: 200px;
}
.social-bar {
    width: 100vw;
}

.social-bar > h2 {
    margin: 0%;
    padding: 15px 32px;
}

.footer-bottom {
    padding-top: 10px;
    height: 165px;
}

hr {
    margin: auto;
    width: 80%;
    border: 1px solid var(--background-color-2);
}

.icon {
    padding: 2px 15px;
}

.rightsBar {
    display: flex;
    align-items: center;
    justify-content: center;
}