#nav {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: var(--background-color-3);
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    z-index: 2000;
    align-items: center;
}

.nav-button {
  padding: 10px 15px;
  margin: 3px;
  background-color: var(--background-color-3);
  border: none;
  border-radius: 5px;
  color: white;
  transition: filter 0.2s ease;
  cursor: pointer;
}

.nav-button:hover {
  filter: brightness(2);
  color: var(--detail-color);
}

.current-nav-button {
  filter: brightness(2);
  color: var(--detail-color);
}

#right-buttons {
    margin-left: auto;
    margin-right: 2%;
}

#left-buttons {
    margin-left: 2%;
    display: flex;
    align-items: center;
}

#logo {
    width: 40px;
    height: auto;
    margin: 10px;
}