.blurb {
    color: var(--text-color);
    font-size: 1.25vw;
}
  
.project {
    width: 100%;
    pointer-events: none;
}
  
.proj-image {
    width: 100%;
    object-fit: contain;
    pointer-events: none;
}
  
.proj-button {
    background-color: var(--detail-color);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 30%;
    border: none;
    position: relative;
    color: var(--background-color-2);
}
  
.proj-button:hover {
    background-color: var(--detail-color-2);
    color: var(--detail-color);
}

.proj-selected {
    background-color: var(--detail-color-2);
    color: var(--detail-color);
}

.proj-title{
    text-align: start;
    margin: 0px;
    font-weight: 900;
    font-size: 2vw;
    color: inherit;
    letter-spacing: -2px;
    line-height: 1;
    position: absolute;
    pointer-events: none;
}

#tri-design {
    width: 100%;
    height: 25px;
    background-color: var(--background-color);
    clip-path: polygon(50% 0%, 47% 100%, 53% 100%);
}

.page-top {
    padding: 10vh 7% 2%;
    align-items: center;
}

.page-bottom {
    background-color: var(--background-color);
    border: none;
}

.proj-image-container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

#projIMG {
    position: relative;
    width: 75%;
    border-radius: 5px;
    border: solid 5px var(--detail-color-2);
    margin: 10px;
}

#alt-text{
    filter: brightness(3);
    color: var(--text-color);
    visibility: hidden;
    font-size: 1vw;
    margin: 5px;
    width: 75%;
    align-self: center;
}

#cycle-image{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.arrow-button{
    border-radius: 50%;
    margin: 5px;
    background-color: var(--detail-color);
    border: 2px solid var(--detail-color-2);
    color: var(--text-color-2);
    transition: 0.2s ease;
    font-size: 1.5vw;
    visibility: hidden;
    text-align: center;
    width: 3vw;
    height: 3vw;
}

.arrow-button > p {
    position: relative;
    margin: auto;
}

.arrow-button:hover {
    background-color: var(--background-color);
    color: var(--detail-color);
  }