.theme-control {
    display: flex;
    padding: 10px 15px;
    transition: filter 0.2s ease;
    cursor: pointer;
}

.theme-control > p {
    margin: 0px;
    padding-left: 15px;
}

.theme-control > p:first-of-type {
    margin: 0px;
    padding-right: 15px;
    padding-left: 0px;
}