:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: white;
  --text-color: black;
  --detail-color: purple;
}

[data-theme="dark"] {
  --background-color: black;
  --text-color: white;
  --detail-color: green;
}

[data-theme="pink"] {
  --background-color: pink;
  --text-color: gray;
  --detail-color: rgb(128, 0, 17);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: visible;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  top: 0%;
}
