:root {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: white;
  --background-color-2: rgb(211, 211, 211);
  --background-color-3: rgb(36, 35, 35);
  --text-color: black;
  --text-color-2: white;
  --detail-color: rgb(2, 130, 134);
  --detail-color-2: rgb(8, 40, 54);
}

[data-theme="dark"] {
  --background-color: #1d2a35;
  --background-color-2: #38444d;
  --detail-color-2: rgb(127, 221, 224);
  --text-color: white;
  --text-color-2: black;
}

[data-theme="pink"] {
  --background-color: pink;
  --background-color-2: rgb(211, 211, 211);
  --detail-color: rgb(224, 34, 59);
  --detail-color-2: rgb(104, 2, 53);
}

html{
  scroll-behavior: smooth;
  scrollbar-color: var(--detail-color);
}

/*scrollbar updates*/
body::-webkit-scrollbar {
  width: auto; 
}

body::-webkit-scrollbar-thumb {
  background-color: var(--detail-color); 
  border-radius: 10px;
  border: 4px solid transparent; /* padding effect */
  background-clip: content-box;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: visible;
  overflow-x: hidden;
  background-color: var(--background-color-2);
  color: var(--text-color);
}

#root {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  position: relative;
  top: 0%;
  padding-bottom: 200px; 
}

a {
  text-decoration: none;
  color: var(--detail-color);
  transition: 0.2s ease;
  font-size: 1.5vw;
  word-break: break-all;
}

a:hover {
  color: var(--text-color);
}

/* Medium devices (landscape tablets, 768px and smaller) */
@media only screen and (max-width: 768px) {

  #nav {
    flex-direction: column;
  }

  #right-buttons{
    margin: auto;
  }

  .nav-button, #theme-control{
    border: 1px solid black;
    font-size: 2.5vw;
  }

  .page-top {
    padding: 17vh 7% 2%;
  }

  section {
    min-height: 400px;
  }

  #banner {
    min-height: 400px;
  }

  #name {
    font-size: 9vw;
  }

  .title {
    font-size: 8vw;
  }

  .sub-title, a, .banner-sub {
    font-size: 4vw;
  }

  .blurb {
    font-size: 2vw;
  }

  .alt-text {
    font-size: 1.75vw;
  }

  .page-button {
    font-size: 3vw;
  }

  .card {
    flex-direction: column;
  }

  .card > img {
    width: 98%;
    margin: auto;
    margin-bottom: 2%;
  }

  .personal > .flex-container, .about-card > .flex-container {
    width: 100%;
    margin: 0px 0px 2% 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }

  .arrow-button {
    font-size: 5vw;
  }

  .page-button {
    padding: 8px 32px;
  }

  .proj-image-container {
    width: 98%;
  }

  .page-bottom{
    padding: 15px;
  }

  .proj-button {
    width: 45%;
    height: 25vw;
  }

  .proj-title {
    font-size: 5vw;
  }

  #about-image{
    margin: auto;
  }

  iframe {
    width: 98%;
  }

  /* Small devices (430px or smaller) */
  @media only screen and (max-width: 430px) {

    .proj-button {
      width: 90%;
      height: 45vw;
    }

    .blurb {
      font-size: 3vw;
    }

    .alt-text {
      font-size: 2.75vw;
    }

  }

}