/* Playfair Display Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  /*data-theme="light"*/
  --nav-color: #242323;
  --background-color: white;
  --background-color-2: #e8e8e8;
  --text-color: #2a2a2a;
  --text-color-2: white;
  --text-secondary: #4f555f; 
  --detail-color: #25a0a8;
  --detail-color-2: #0a4a4d;
  --detail-color-hover: #025b5e;
  --detail-color-light: #e6f7f7;
}

[data-theme="dark"] {
  --background-color: #16222c;
  --background-color-2: #1d2a35;
  --text-color: white;
  --text-color-2: black;
  --text-secondary: #aab6ca; 
}

[data-theme="pink"] {
  --background-color: #dacfd1;
  --background-color-2: white;
  --detail-color: #e0223b;
  --detail-color-2: #680235;
  --detail-color-hover: #8d1626;
  --detail-color-light: #e4bec3;
  /* uses default text colors */
}

[data-theme="green"] {
  --background-color: #e3fade;
  --background-color-2: white;
  --detail-color: #226914;
  --detail-color-2: #04270a;
  --detail-color-hover: #0e2908;
  --detail-color-light: #c7ffbb;
  /* uses default text colors */
}

:root {
  font-family: "Inter", Helvetica, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
  overscroll-behavior-x: none;
}

#root {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}

/* Prevent all elements from overflowing */
* {
  box-sizing: border-box;
}

/*scrollbar*/
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--detail-color);
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  @apply italic text-(--text-color);
}

h3 {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

a {
  @apply transition-all break-all no-underline;
}

h4 {
  @apply text-sm md:text-xl;
}

h5 {
  @apply text-base md:text-lg;
}

.full-image {
  @apply max-h-[90%] max-w-[90%] shadow-xl shadow-black;
}

@utility button-transition {
  @apply transition duration-400 ease-in-out;
}

.section-padding-y {
  @apply py-20 lg:py-30 2xl:py-40;
}

.section-padding-x {
  @apply px-10 md:px-25 lg:px-30 2xl:px-80;
}

.body-text {
  @apply lg:text-xl md:text-lg text-base leading-loose;
}

.heading {
  @apply text-start text-4xl lg:text-6xl;
}

.sub-heading {
  @apply text-start lg:text-3xl md:text-2xl text-lg text-(--text-secondary);
}

.skill-pill {
  @apply border-4 border-(--detail-color) text-(--detail-color) bg-(--detail-color-light) px-2 py-0.5 w-fit;
}

.base-card {
  @apply flex gap-6 bg-(--background-color-2) px-10 py-8 my-2 lg:px-20 text-start items-start justify-between;
}

.even-card {
  @apply flex flex-col-reverse lg:flex-row;
}

.odd-card {
  @apply flex flex-col-reverse lg:flex-row-reverse;
}

.nav-button {
  @apply button-transition m-1 bg-(--nav-color) cursor-pointer rounded-xl border-2 border-(--nav-color) px-4 py-1 md:py-3 text-base hover:text-(--detail-color) hover:brightness-200;
}

.current-nav-button {
  @apply  text-(--detail-color);
}

.page-button {
  @apply button-transition rounded-xl border-4 border-(--detail-color) cursor-pointer bg-(--detail-color) px-2 py-2 text-2xl text-(--text-color-2) hover:bg-(--detail-color-hover) text-center hover:text-(--text-color-2);
}

.filter-button {
  @apply button-transition m-1 text-(--nav-color) bg-(--detail-color-light) cursor-pointer rounded-xl border-2 border-(--detail-color-light) px-4 py-1 md:py-3 text-base hover:text-white hover:bg-(--detail-color-hover);
}

.filter-active {
  @apply bg-(--detail-color) text-white border-(--detail-color);
}

#loading-screen {
  opacity: 1;
  transition: opacity 0.5s ease; /* fade duration */
}

#loading-screen.hidden {
  opacity: 0;
  pointer-events: none; /* optional: prevent clicks while fading */
}
