@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Quintessential&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/*general page items*/
:root {
  font-family: "Verdana", Helvetica, sans-serif;
  line-height: 1.5;

  width: 100vw;
  min-height: 100vh;
  text-align: center;
  position: relative;
  top: 0%;
  padding-bottom: 200px; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*data-theme="light"*/
  --background-color: white;
  --background-color-2: rgb(211, 211, 211);
  --background-color-3: rgb(36, 35, 35);
  --text-color: black;
  --text-color-2: white;
  --detail-color: rgb(2, 130, 134);
  --detail-color-2: rgb(8, 40, 54);
}

[data-theme="dark"] {
  --background-color: #1d2a35;
  --background-color-2: #38444d;
  --detail-color-2: rgb(127, 221, 224);
  --text-color: white;
  --text-color-2: black;
}

[data-theme="pink"] {
  --background-color: rgb(255, 227, 231);
  --background-color-2: rgb(255, 255, 255);
  --detail-color: rgb(224, 34, 59);
  --detail-color-2: rgb(104, 2, 53);
  /* uses default text colors */
}

[data-theme="green"] {
  --background-color: #b5e1b8;
  --background-color-2: #e6fce6;
  --detail-color: #0d4901;
  --detail-color-2: #028f19;
  /* uses default text colors */
}

html{
  @apply scroll-smooth;
  scrollbar-color: var(--detail-color);
}

body {
  @apply m-0 flex place-items-center min-w-[320px] min-h-[100vh] overflow-y-visible overflow-x-hidden bg-(--background-color-2) text-(--text-color);
}

/*scrollbar*/
body::-webkit-scrollbar {
  width: auto;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--detail-color); 
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

h1, h2 {
  font-family: "Noto Serif Display", Helvetica, sans-serif;
  @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl;
}

h3 {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

h4, a {
  @apply text-sm md:text-xl;
}

.alt-text {
  @apply text-xs md:text-sm text-(--text-color) m-2 w-[75%] self-center;
}

.proj-image-container{
  @apply p-2 border-0 rounded-xl m-auto w-[100%] bg-(--background-color);
}

.main-proj-image {
  @apply cursor-pointer hover:scale-102 object-cover element-border max-h-[400px] button-transition;
}

.arrow-button {
  @apply element-border cursor-pointer m-auto text-(--text-color-2) hover:text-(--detail-color) hover:bg-(--detail-color-2) bg-(--detail-color) button-transition invisible;
}

.overlay {
  @apply fixed top-0 left-0 w-[100%] h-[100vh] hidden bg-black/80 z-5000 cursor-zoom-out items-center justify-center;
}

.full-image {
  @apply max-w-[90%] max-h-[90%] shadow-xl shadow-black;
}

@utility button-transition {
  @apply transition duration-200 ease-in-out;
}

@utility triangle-clip {
  clip-path: polygon(50% 0%, 47% 100%, 53% 100%);
}

@utility project-title-outline {
  text-shadow: 
  -1px -1px 0 black,
    1px -1px 0 black,
  -1px  1px 0 black,
    1px  1px 0 black;
}

@utility banner-text-outline {
  text-shadow: 
  -1px -1px 0 var(--detail-color-2),
  1px -1px 0 var(--detail-color-2),
  -1px  1px 0 var(--detail-color-2),
  1px  1px 0 var(--detail-color-2);
}

@utility banner-background {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url('/src/assets/flower.jpg') no-repeat center;
  background-size: cover;
}

@utility element-border {
  @apply border-4 border-(--detail-color-2) rounded-xl;
}

.page-top {
  @apply flex flex-col lg:flex-row items-center lg:items-start h-[100%] justify-between px-10 py-3 md:px-20 pt-10 sm:pt-25;
}

.page-bottom {
  @apply bg-(--background-color) flex justify-between px-10 py-3 md:px-20;
}

a {
  @apply no-underline text-(--detail-color) button-transition break-all visited:text-(--detail-color-2) hover:text-(--text-color);
}

.current-nav-button {
  @apply brightness-200 text-(--detail-color);
}

.card {
  @apply bg-(--background-color-2) px-10 py-3 md:px-20 flex md:flex-row flex-col-reverse justify-between text-center md:text-start items-center md:items-start;
}

.odd-card {
  @apply bg-(--background-color) flex md:flex-row-reverse flex-col-reverse justify-between text-center md:text-end;
}

.odd-card > div {
  @apply md:items-end;
}

.flex-container {
  @apply flex flex-col w-[100%] items-start text-start justify-between pr-4 pb-4;
}

.proj-title{
  @apply absolute m-0 p-1 text-start text-4xl pointer-events-none leading-none wrap-anywhere project-title-outline;
}

.proj-button {
  @apply text-white hover:text-(--detail-color) m-2 w-[90%] md:w-[45%] lg:w-[30%] aspect-7/4 relative;
}

.proj-selected {
  @apply text-(--detail-color);
}

.proj-selected > img {
  @apply border-(--detail-color);
}

.proj-image {
  @apply w-[100%] h-[100%] object-cover pointer-events-none element-border group-hover/project:border-(--detail-color);
}

.main-container {
  @apply flex flex-row w-[100%] flex-wrap justify-center p-0 md:justify-between;
}

.nav-button {
  @apply text-base hover:text-(--detail-color) bg-(--background-color-3) hover:brightness-200 border-0 rounded-xl m-1 cursor-pointer button-transition py-3 px-4;
}

.page-button {
  @apply py-3 px-4 cursor-pointer button-transition text-2xl mt-4 text-(--text-color-2) hover:text-(--detail-color) hover:bg-(--detail-color-2) bg-(--detail-color) element-border w-[200px];
}

.banner {
  @apply flex flex-col relative items-center min-h-[400px] md:min-h-[500px] lg:min-h-[700px] xl:min-h-[900px] banner-text-outline banner-background;
  
}